body {
    background-color: black;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    color: white;
    font-family: 'Kotta One', serif;
    font-size: 20px;
}

nav {
    width: 100%;
    height:65px;
    background-color:#272727;
    display: flex;
    position: fixed;
    top: 0px;
    border-bottom-color: #9A8BF4;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.mainLinks {
    width: 50%;
    padding-left: 40%;
    display: flex;
    float: right;
    height: 100%;
    float: right;
}

.homeLink {
    width: 50%;
    height: 100%;
    display: flex;
}

a {
    width: 20%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    text-align: center;
    height: 100%;
    line-height: 65px;
    text-decoration: none;
    color: white;
}

.icon {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 200px;
}

a.home {
    text-align: center;
    float: none;
    width: 25%;
    margin-right: 75%;
}

.banner {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.banner_logo {
    width: 65%;
    margin-left:17.5%;
    margin-right: 17.5%;
    object-fit: cover;
}

hr {
    width: 20%;
    margin-top: -25px;
    margin-left:40%;
    margin-right: 40%;
    border-color: #6E59F5;
    border-width: 10px;
    border-style: solid;

}

p.bannerTxt {
    color: white;
    text-align: center;
    font-family: 'Itim', cursive;
    padding-top: 20px;
    font-size: 30px;
}

.homeSections {
    width: 100%;
    background-color: black;
    height: 630px;
    margin-top: 80px;
    display: flex;
}

.section {
    width: 42%;
    background-color:#272727;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

.sectionHead {
    font-family: 'Koulen', cursive;
    text-align: center;
    font-size: 45px;
    color: #9A8BF4;
    font-weight: lighter;
}

.sectionText {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.longBody {
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #272727;
}

.verticleSection {
    width: 100%;
    height:700px;
    background-color: #272727;
    display: flex;
}

.important {
    font-family: 'Kavivanar', cursive;
    font-size: 40px;
    text-align: center;
}

.vSecton_Txt {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.vSection_Img {
    width: 50%;
}

.sectionAdj {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 155px;
}

.important_two {
    font-family: 'Nova Slim', cursive;
    font-size:35px;
    text-align: center;
    color: #9A8BF4;
}

hr.verticle {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-color: black;
    border-width: 5px;
}

.credit {
    font-size: 15px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

div.main2 {
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #272727;
    margin-top: 100px;
    display: flex;
}
.main2Txt {
    width: 85%;
}

.main2Img {
    width: 15%;
}
img.main2 {
    width: 80%;
}

#center {
    text-align: center;
}

.smallVerticleSec {
    width: 100%;
    height:400px;
    background-color: #272727;
    display: flex;
}

.smallsectionAdj {
    width: 30%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}

.main_noImg {
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #272727;
    margin-top: 100px;
    text-align: center;
}

a.intext {
    text-decoration: underline;
    color:#6E59F5;
    margin-right: 2px;
    margin-left: 2px;
}